<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Display Access Record</h1>
    <table border='3px'>
        <tr>
            <th>Primary key</th>
            <th>Name</th>
            <th>Date</th>
            <th>Author</th>
        </tr>
    {% for ao in QLAO %}
    <tr>
        <td>{{ ao.pk }}</td>
        <td>{{ ao.name }}</td>
        <td>{{ ao.date }}</td>
        <td>{{ ao.Author }}</td>

    </tr>
    {% endfor %}
    </table>
</body>
</html>